 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Arial', sans-serif;
    }

    .header {
      width: 100%;
      background-color: rgba(255, 99, 71, 0.9); 
      padding: 10px 20px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      height: 60px;
    }

    .leftside {
      float: left;
    }

    .leftside i {
      font-size: 30px;
      color: white;
      cursor: pointer;
      float: left;
      margin-right: 15px;
      margin-top: 5px;
    }

    .leftside form {
      float: left;
      position: relative;
    }

    .leftside form input {
      width: 220px;
      height: 32px;
      border: none;
      border-radius: 20px;
      padding: 5px 10px 5px 35px;
      outline: none;
    }

    .leftside form i {
      position: absolute;
      top: 4.5px;
      left: 10px;
      color: #333;
      font-size: 16px;
    }

    .nav {
      float: right;
    }

    .nav ul {
      list-style: none;
    }

    .nav ul li {
      display: inline-block;
      position: relative;
      color: white;
      font-size: 18px;
      cursor: pointer;
      padding: 6px 10px;
      margin-left: 10px;
      transition: 0.3s;
    }

    .nav ul li:hover {
      background: rgba(255, 255, 255, 0.1);
      border-radius: 4px;
    }

    .nav ul li::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 2px;
      background: white;
      transition: 0.3s;
    }

    .nav ul li:hover::after {
      width: 100%;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      min-width: 160px;
      background: white;
      border-radius: 5px;
      margin-top: 1px;
      overflow: hidden;
      z-index: 2000;
    }

    .dropdown-content a {
      display: block;
      padding: 10px 15px;
      color: #333;
      text-decoration: none;
      transition: 0.3s;
    }

    .dropdown-content a:hover {
      background: tomato;
      color: white;
    }

    .dropdown:hover .dropdown-content {
      display: block;
    }


/* Hero */

.hero {
  width: 100%;
  height: 100vh;
  background: url('../resorces/img.png') center/cover no-repeat;
  color: white;
  position: relative;
  text-align: center;
}

.hero .content{
  padding-top: 50px;
}

.hero h1 {
  font-size: 80px;
  width: 50%;
  margin: auto;
  padding-top: 150px;
  
}

.hero p {
  font-size: 25px;
  margin-bottom: 25px;
}

button {
  padding: 12px 25px;
  background: tomato;
  color: #fff;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px; 
  width: 170px;
  height: 50px;
  font-size: 17px;
}

button:hover {
  background: #e74c3c;
}

/* Cards */

#works h2{
  text-align: center;
  font-size: 40px;
  margin-bottom: 16px;
  color: #333;
  margin-top: 30px;

}
hr {
  width: 100px; 
  border: 2px solid tomato;
  margin: auto;
  margin-bottom: 35px;

}

.grid {
  width: 90%;
  overflow: hidden;
  margin-left: 130px;
}

.card {
  float: left;
  background: #fff;
  border: 1px solid tomato;
  border-radius: 15px;
  padding: 30px 20px;
  position: relative; 
  width: 30%;
  margin-right: 20px;
  text-align: center;

}

.card * {
  position: relative;
  z-index: 1;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0; 
  height: 100%;
  background: rgba(255, 99, 71, 0.1); 
  transition: 0.5s; 
  border-radius: 15px;
  z-index: 0;
}

.card:hover::before {
  width: 100%;
  cursor: pointer;
  color: white;
}

.card i {
  font-size: 50px;
  margin-bottom: 15px;
  color: tomato;
}

.card h3 {
  margin-bottom: 10px;
  font-size: 25px;
  color: tomato;
}

.card p {
  margin-bottom: 15px;
  color: #555;
  font-size: 18px;
}

.card button {
  padding: 10px 20px;
  background: tomato;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.text-hover:hover h3,
.text-hover:hover p{
  color: rgb(193, 133, 123); 
}



.card button:hover {
  background: #e74c3c;
}

#featured-works {
  padding: 60px 20px 20px 20px;
  text-align: center;

}

#featured-works h2 {
  font-size: 40px;
  margin-bottom: 16px;
  color: #333;
}

.works-content {
  overflow: hidden;
}

.work-card {
  width: 32%;
  float: left;
  margin-left: 18px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.work-card img {
  width: 100%;
  height: 250px;
  border-radius: 15px;
  position: relative;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  color: #fff;
  opacity: 0;
  border-radius: 15px;
  
}
.overlay p {
  font-size: 35px;
  margin-bottom: 15px;
  padding-top: 80px;
}

.overlay .icons i {
  font-size: 25px;
  margin: 0 8px;
  cursor: pointer;
}

.overlay .icons i:hover {
  color: tomato;
}

.work-card:hover img {
  opacity: 0.7;
}

.work-card:hover .overlay {
  opacity: 1;
  
}

/* Offers */

#offers {
  padding: 60px 20px;
  text-align: center;
}

#offers h2 {
  font-size: 40px;
  margin-bottom: 16px;
  color: #333;
}


.offers-content {
  overflow: hidden;
  margin-left: 60px;
}

.offer-card {
  float: left;
  width: 30%; 
  position: relative;
  background: #fff;
  border: 1px solid tomato;
  border-radius: 15px;
  padding: 30px 20px;
  transition: 0.5s;
  margin-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.offer-card i {
  font-size: 40px;
  color: tomato;
  margin-bottom: 15px;
}

.offer-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #222;
}

.offer-card p {
  font-size: 17px;
  color: #666;
}

.offer-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 99, 71, 0.1);
  z-index: 0;
  border-radius: 15px;
  transition: width 0.5s ease;
}

.offer-card:hover::before {
  width: 100%;
  cursor: pointer;
}


/* Why Choose Us */

#why-choose-us {
  padding: 60px 20px;
  background: #f9f9f9;
}

.choose-container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.choose-text {
  padding-top: 25px;
  float: left;
  width: 55%;   
  text-align: left;
}

.choose-text h2 {
  font-size: 40px;
  margin-bottom: 16px;
  color: tomato;
}

.choose-text p {
  font-size: 21px;
  margin-bottom: 20px;
  color: #555;
  line-height: 40px;
}

.choose-text ul {
  list-style: none;
  padding: 0;
}

.choose-text ul li {
  font-size: 17.5px;
  margin-bottom: 20px;
  color: #333;
}

.choose-image {
  float: right;
  width: 40%;  
  text-align: center; 
}

.choose-image img {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
}

.dots {
  margin-top: 15px;
  text-align: center; 
}

.dots span {
  width: 18px;
  height: 18px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  margin: 0 7px;
}

.dots span:hover {
  background-color: tomato; 
}


/* adv Section */
#adv {
  background: url('../resorces/Restaurant.png') center/cover fixed no-repeat;
  position: relative;
  padding: 100px 20px;
  color: #fff;
  text-align: center;
  overflow: hidden; 
}

#adv::before {
  content: "";
  position: absolute;
  top: 0;   
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.adv-overlay {
  position: relative;
  z-index: 1;
  overflow: hidden; 
}

.adv-box {
  float: left;
  width: 23%;   
  text-align: center;
}

.adv-box i {
  font-size: 40px;
  color: tomato;
  margin-bottom: 15px;
  display: block;
}

.adv-box h3 {
  font-size: 30px;
  margin-bottom: 8px;
  font-weight: bold;
}

.adv-box p {
  font-size: 15px;
  color: #ddd;
}

/* Pricing */

#pricing {
  padding: 60px 20px ;
  text-align: center;
}

#pricing h2 {
  font-size: 40px; 
  margin-bottom: 16px;
  color: #333;
}

.pricing-cards {
  width: 90%;
  overflow: hidden; 
  margin: 0 auto;
  margin-left: 130px;
}

.pricing-card {
  float: left;
  width: 30%;   
  margin: 10px;
  background: #fff;
  border: 1px solid tomato;
  border-radius: 15px;
  padding: 30px 20px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.pricing-card h3 {
  font-size: 22px; 
  margin-bottom: 10px;
  color: tomato;
}

.pricing-card .price {
  font-size: 28px; 
  font-weight: bold;
  margin: 15px 0;
  color: #222;
}

.pricing-card .price span {
  font-size: 16px; 
  color: #666;
}

.pricing-card ul {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}

.pricing-card ul li {
  margin: 10px 0;
  color: #555;
  font-size: 16px;
}

.pricing-card button {
  padding: 10px 20px;
  background: tomato;
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s ;
  font-size: 16px;
}

.pricing-card button:hover {
  background: #e74c3c;
}

.pricing-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 99, 71, 0.1);
  transition: 0.4s;
  border-radius: 15px;
  z-index: 0;
}

.pricing-card:hover::before {
  width: 100%;
}

.pricing-card * {
  position: relative;
  z-index: 1;
}

/* Founders */
#founders {
  background: url('../resorces/cover.png') center/cover no-repeat fixed;
  padding: 35px 0px;
  position: relative;
  color: #fff;
  text-align: center;
}

#founders::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}

.founders-content {
  position: relative;
  z-index: 2;
  margin-left: 0px;     
  overflow: hidden;     
}

.founder {
  float: left;
  width: 360px;       
  margin-left: 300px;
  text-align: center;
}

.founder img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #ff6347;
  margin-bottom: 20px;
}

.founder .info h3 {
  font-size: 22px;
  margin-bottom: 5px;
  color: #ff6347;
}

.founder .info .role {
  font-weight: bold;
  margin-bottom: 10px;
}

.founder .info .desc {
  font-size: 15px;
  line-height: 1.5;
  color: #eee;
}

/*Our Chefs */

#team {
  padding: 60px 20px 20px 20px;
  text-align: center;
  background: #f9f9f9;
}

#team h2 {
  font-size: 40px; 
  margin-bottom: 16px;
  color: #333;
}

.team-chef {
  overflow: hidden; 
  margin-left: 110px;
}

.team-member {
  float: left;
  width: 400px;        
  margin: 15px;
  position: relative;
  background: #fff;
  padding: 25px 20px;
  border-radius: 15px;
  border: 1px solid tomato;
  text-align: center;
  overflow: hidden;
}

.team-member::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 99, 71, 0.1); 
  transition: 0.4s;
  border-radius: 15px;
  z-index: 0;
}

.team-member:hover::before {
  width: 100%;
}

.team-member * {
  position: relative;
  z-index: 1;
}

.img-box {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid tomato;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-icon {
  position: absolute;
  top: 20px;
  right: -80px; 
  width: 40px;   
  background: rgba(255, 99, 71); 
  border-radius: 8px;
  padding: 5px 0;
  transition:  0.4s ;
}

.social-icon a {
  display: block;   
  width: 100%;         
  padding: 10px 0;    
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition:  0.3s;
}

.img-box:hover .social-icon {
  right: 2px;
}


.team-member h3 {
  font-size: 22px; 
  margin-bottom: 5px;
  color: tomato;
}

.team-member p {
  font-size: 16px; 
  color: #666;
}



/* News */

#news {
  padding: 60px 20px;
  text-align: center;
}

#news h2 {
  font-size: 40px;
  margin-bottom: 16px;
  color: #333;
}

.news-content {
  width: 95%;
  overflow: hidden; 
  margin: 0 auto;
  margin-left: 90px;      
}

.news-card {
  float: left;
  width: 420px;       
  margin: 12px;
  position: relative;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  border: 1px solid tomato;
}

.news-card::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 99, 71, 0.1);
  border-radius: 15px;
  transition: width 0.4s ease;
  z-index: 0;
}

.news-card:hover::before {
  width: 100%;
}

.news-card * {
  position: relative;
  z-index: 1; 
}

.news-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.news-info {
  padding: 20px;
}

.news-info h3 {
  font-size: 22px;
  color: tomato;
  margin-bottom: 10px;
}

.news-info .meta {
  margin-bottom: 15px;
}

.news-info .meta i {
  font-size: 18px;
  color: #666;
  margin: 0 8px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.news-info .meta i:hover {
  color: tomato;
}

.news-info .desc {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
}

.news-info .btn {
  display: inline-block;
  padding: 10px 20px;
  background: tomato;
  color: #fff;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.news-info .btn:hover {
  background: #e74c3c;
}

 /* footer */

.footer {
  background-color: #1f1f1f; 
  color: #fff;
  padding: 20px 20px;
  text-align: center;
  margin-top: 30px;
  border-top: 3px solid tomato;
}

.footer-logo {
  display: block;      
  margin: 0 auto 20px;  
  width: 180px;
  border-radius: 10px;
}

.social-icons {
  overflow: hidden; 
  margin: 0 auto;
  margin-left: 650px;       
}

.social-icons i {
  float: left;               
  margin: 0 8px;             
  font-size: 20px;
  color: tomato;
  cursor: pointer;
  transition: 0.3s ;
  background-color: #ffffff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  line-height: 45px;         
  text-align: center;        
}

.social-icons i:hover {
  background-color: tomato;
  color: #fff;
}

.footer p {
  clear: both;               
  font-size: 14px;
  color: #ddd;
  margin-top: 10px;
}



